<p id="notice"><%= notice %></p>

<p>
  <b>Key:</b>
  <%= @widget.key %>
</p>

<p>
  <b>Data:</b>
  <%= @widget.data %>
</p>


<%= link_to 'Edit', edit_widget_path(@widget) %> |
<%= link_to 'Back', widgets_path %>
